* {
    margin : 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    position: relative;

    overflow: hidden;
}

.player {
    background-color: red;

    border-radius: 50% 50% 0 0;

    transition: 400ms;

    position: absolute;
}


.player.rotate {
    transform: rotateZ(180deg);
}